<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A simple example with google Oauth.</title>
  <style>
    body{
      width: 100%;
      height: 100%;
      display: :flex;
      justify-content:center;
      align-items:center;
    }
   .cc-container{
     position: absolute;
     top:0;
     left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content:center;
      align-items:center;
   }

   .box{
     width: :33.33%;
     height:33.33;
   }

  </style>
</head>
<body>
  <main class="cc-container">
    <div class="box">
      <div class="card">
        <div class="section">
          <h3>Welcome</h1>
        </div>
        <div class="section">
          <div>You see this means you already login!</div>
          <div>Login with:  <mark class="inline-block">{{ email }}</mark>
          </div>
        </div>
      </div>
      </div>
  </main>
</body>
</html>
